<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalhes do veiculo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
    table {
        width: 50%;
        height: 50%;
        text-align: center;
        margin:auto;
        table-layout: fixed;
    }
    img {
        width: 400px;
        height: 400px;
        object-fit: cover;
    }
    body {
        background-color: black;
    }
    .center {
        margin: auto;
        width: 40%;
        padding: 10px;
    }
    .center_a {
        text-align: center;
    }
    </style>
</head>
<body>
    <div class="container">
        <div class="center">
            <img src="/static/images/{{ detalhes[7] }}" class="rounded-circle" />
        </div><br>
        <table class="table table-dark" border="0" title="Anuncio">
                <tr>
                    <td class="align-middle"><b>Id</b></td>
                    <td class="align-middle"><b>Modelo</b></td>
                    <td class="align-middle"><b>Marca</b></td>
                    <td class="align-middle"><b>Ano</b></td>
                    <td class="align-middle"><b>Preço</b></td>

                </tr>
                <tr>
                    <td class="align-middle">{{ detalhes[0] }}</td>
                    <td class="align-middle">{{ detalhes[1] }}</td>
                    <td class="align-middle">{{ detalhes[2] }}</td>
                    <td class="align-middle">{{ detalhes[3] }}</td>
                    <td class="align-middle">{{ detalhes[5] }}</td>
                </tr>
        </table><br>
        <div class="center_a">
            <a class="btn-lg btn-danger" href="/form_comprador/{{ detalhes[0] }}"><b><i>Reservar Agora!</i></b></a>
        </div>
    </div>


</body>
</html>